/* ------------ HIDE STREAMLIT DEFAULTS ------------ */
#MainMenu {
    visibility: hidden;
}

header {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

/* ------------ GLOBAL ------------ */

/* -------- FULL SCREEN LAYOUT -------- */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Streamlit root */
.stApp {
    min-height: 100vh;
    width: 100%;
}

.st-emotion-cache-tn0cau {
    gap: 0 !important;
}

/* Remove all gaps between elements in the main container */
.block-container {
    display: flex;
    /* keep flex layout if needed */
    flex-wrap: wrap;
    /* allow wrapping if multiple items */
    row-gap: 0 !important;
    column-gap: 0 !important;
    padding: 0 !important;
    /* remove default padding */
    max-width: 100% !important;
    /* full width */
}


.st-emotion-cache-18kf3ut {
    background-color: aliceblue;
}

/* Navbar container */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}

/* Left title */
.nav-title {
    font-size: 30px;
    font-weight: 700;
    color: #0a1e4d;
    padding-top: 14px;
    padding-left: 20px;
}

/* Right menu container */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}


/* Navbar buttons */
.nav-menu .stButton>button {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #0f766e;
    padding: 0.4rem 1rem;
}

/* Hover effect */
.nav-menu .stButton>button:hover {
    background-color: rgba(15, 118, 110, 0.1);
    border-radius: 8px;
}

/* Login card (side box) */
.login-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin-top: 3rem;
}

/* Login button */
.login-card .stButton>button {
    width: 100%;
    background-color: #0f766e;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.6rem;
}

.login-card .stButton>button:hover {
    background-color: #115e59;
}

/* FOOTER */
.footer {
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    color: #6b7280;
}